{%extends "base.html"%}
{% block title %}Login{% endblock title %}
{% block content %}
<h1
style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 48px; font-weight: bold; color: rgb(174, 255, 229); text-transform: uppercase; letter-spacing: 4px;">
LOGIN </h1>
<table>
<form method="post">
    {% csrf_token %}
    <link rel="stylesheet" type="text/css" href="/static/css/pain..css">
    <div class="container" style="border:5px solid rgb(0, 0, 0) ; border-radius: 15px; background-color: white;">
        <ul style="list-style-type:none; margin-top: 20px;">
            <li class="d-flex justify-content-center">USERNAME : {{form.username}}</li>
            <br>
            <li class="d-flex justify-content-center">PASSWORD : {{form.password}}</li>
            <li>
                <div class="d-flex justify-content-center" style="padding-top:20px;">
                    <button class="btn btn-outline-dark" style="position: relative;" type="submit">Login</button>
                </div>
            </li>
        </ul>
    </div>
  
</form>
</table>
<br>
<div  class="d-flex justify-content-start container">
    <a  class="btn btn-dark" style="position: relative;" href="{%url 'Home'%}">Back</a>
    </div>
{% endblock %}