
{%extends "base.html"%}


{% block title %}Add Category{% endblock title %}
{% block content %}

<h3 class="d-flex justify-content-center ">Add Category</h3>
<table>
    {% if user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <ul class="container" style=" text-align:center; border:5px solid rgb(0, 0, 0) ; border-radius: 15px; background-color: white;">
        <li style="list-style:none; margin-top:20px;">{{form.as_p}}</li>
        <li>
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark" style=" margin-bottom:20px;position: relative;" type="submit">Add</button>
            </div>
        </li>
    </ul>

</form>
   {%endif%}
</table>
<br>
<div  class="d-flex justify-content-start container">
    <a  class="btn btn-dark" style="position: relative;" href="{%url 'Home'%}">Back</a>
    </div>
{% endblock %}