<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% include "base.html" %}
  {% block content %}
  <h1
style="text-align: center; font-family: 'Open Sans', sans-serif; font-size: 48px; font-weight: bold; color: rgb(174, 255, 229); text-transform: uppercase; letter-spacing: 4px;">
{{cats}}</h1>
  



  <ul class=" container-fluid row my-4 p-3  " style=" justify-content: center; ">
    {% for post in category_posts %}
    <li class="  my-1 col-5 " style="list-style:none ;background-color: #e0fbfc;">
      <h3><a style="  color: black; text-decoration:none" href="{% url 'indexDetail' post.pk%}">
          <h3 style="color: #333; font-weight: bold; font-family: 'Open Sans', sans-serif; text-transform: uppercase;">
            {{post.title}}
        </a></h3>
      <h5>
        <small>By: {{post.author}}</small>
      </h5>
    <br>
      <p
        style="font-family: 'Roboto', sans-serif; font-size: 18px; line-height: 1.6; color: rgb(0, 0, 0); text-align: justify;">
        {{post.body | slice:":200 "}}</p>
        <a class="read-more" href="{% url 'indexDetail' post.pk%}">
          <span>Read full</span>
        </a><br>
        {% if user.is_authenticated and user == post.author %}
  <small>
    <a class="btn btn-dark " href="{% url 'update_post' post.pk %}">
      <i class="fa fa-edit"></i> edit
    </a>
    <a class="btn btn-dark " href="{% url 'delete_post' post.pk %}">
      <i class="fa fa-trash"></i> Delete
    </a>
    <br><br>
    
  </small>
{% endif %}
<form action="{% url 'like_post' post.pk%}" method="post">
  {% csrf_token %}
  {% if liked %}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-outline-dark">
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    </button>
  {%else%}
    <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-outline-dark">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
    </button>
  {% endif %}
</form>

        </small>
        <br><br>
        {% endfor %}
    </li>
  </ul>
  {% endblock %}
</body>
</html>