{%extends "base.html"%}
{% block title %}delete Post{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<h3 class="d-flex justify-content-center ">Delete Post</h3><br>
<br>
<br>
<h3 class="d-flex justify-content-center ">delete : {{post.title}}</h3>
<br>
<br>
<table>
<form class="form-control " method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-center ">
        <button class="btn btn-danger "  type="submit">Delete</button>
    </div>
</form>
</table>
<br><br>
<div  class="d-flex justify-content-start container">
    <a  class="btn btn-dark" style="position: relative;" href="{%url 'Home'%}">Back</a>
    </div>{%endif%}
{% endblock %}