<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/css/pain..css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {% include "base.html" %}
  {% block content %}
  <h1 style="text-align: center; text-shadow: 4px 2px black; font-family: 'Open Sans', sans-serif; font-size: 48px; font-weight: bold; color: rgb(174, 255, 229); text-transform: uppercase; letter-spacing: 4px;">
    WELCOME TO BLOGOSPHERE
  </h1>
  <h5 style="text-align: center; text-shadow: 2px 2px rgb(0, 0, 0); font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; letter-spacing: 4px;">
    An Ultimate Blogging platform
  </h5>

  <div class="category">
    {% for category in categories %}
    <a href="{% url 'category' category.name %}">{{ category.name }}</a>
    {% endfor %}
  </div>

  {% endblock %}
</body>

</html>
